html,
body {
	background: #000 url() center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	height:100%;
	margin: 0px;
	padding: 0px;
	min-height:100%;
}
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#home {
	min-height: 100%;
	width: 100%;
	position: relative;
	z-index: 0;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.content {
	left: 50%;
	top: 50%;
	position: absolute;
	height: 300px;
	width: 302px;
	font-family: "Courier New", Courier, monospace;
	color: #FFF;
	font-weight: normal;
	margin-top: -150px;
	margin-left: -151px;
	text-align: center;
	z-index: 1;
	overflow: hidden;
	-webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
#logo {
	height: 166px;
	width: 302px;
	background-image: url(../imgs/cntrlt_int.png);
	background-repeat: no-repeat;
	z-index: -1;

}
ul {
	list-style-type: none;
	padding: 0px;
	line-height: 2em;
	letter-spacing: .5em;
	font-size: 12px;
	text-decoration: none;
